.container {
      max-width: 500px;
    }

    .no-found {
      font-size: 3rem;
      color: #ffffff;
      margin-top: 5%;
    }
    .no-found-p {
      margin: 20px 0;
    }
    .btn-404 {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #273338;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    .btn-404 {
      background-color: #1c2428;
    }