/* Large Header Base Styling */
.large-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 14vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    z-index: 10;
}

/* Capas de estrellas */
#stars, #stars2, #stars3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ajusta para cubrir solo el header */
    background: transparent;
    animation: animStar linear infinite;
    z-index: 0;
}

#stars { width: 1px; height: 1px; animation-duration: 50s; }
#stars2 { width: 2px; height: 2px; animation-duration: 100s; }
#stars3 { width: 3px; height: 3px; animation-duration: 150s; }

/* Estilos del título principal */
.main-title {
    position: relative;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 4.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Responsive adjustments */
@media (max-width: 900px) {
    .large-header {
        font-size: 90%;
    }
    
}

@media (max-width: 650px) {
    .large-header {
        font-size: 70%;
    }
}

@media (max-width: 450px) {
    .large-header {
        font-size: 55%;
    }
}




.main-title .thin { font-weight: 200; }

/* Ajustes responsivos */
@media only screen and (max-width: 768px) {
    .main-title { font-size: 3em; }
}

/* Keyframes para la animación de estrellas */
@keyframes animStar {
    from { transform: translateY(0px); }
    to { transform: translateY(-2000px); }
}
