.navbar {
    z-index: 11;
    margin-top: 2%;
    position: fixed;
}



nav ul li {
    margin: 0 5px; /* Reduced margin for better fit on smaller screens */
    padding: 0 10px;
    border-left: 1px solid rgba(222, 222, 222, 0);
    border-right: 1px solid rgba(240, 240, 240, 0);
    transition: 0.3s;
}

nav ul li:hover a:hover {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

.collapse {
    z-index: 13;
}




/* Media queries for responsive adjustments */
@media (max-width: 900px) {
    .logo {
        font-size: 24px;
    }

    /* Stack navbar items vertically on smaller screens */
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
    
}

@media (max-width: 450px) {
    .logo {
        font-size: 20px;
    }

    .nav-link {
        background-color: rgb(42, 44, 67);
    }
}