.navbar {
    z-index: 11;
    margin-top: 5%;
}

nav {
    display: flex;
    align-items: center;
    z-index: 11;
    position: fixed;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

nav ul li {
    margin: 0 5px; /* Reduced margin for better fit on smaller screens */
    padding: 0 10px;
    border-left: 1px solid rgba(222, 222, 222, 0);
    border-right: 1px solid rgba(240, 240, 240, 0);
    transition: 0.3s;
}

nav ul li:hover a:hover {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

.collapse {
    z-index: 13;
}

/* Responsive adjustments */
@media (max-width: 900px) {
   
    .logo {
        font-size: 24px; /* Smaller logo size */
    }
}

@media (max-width: 450px) {
    .logo {
        font-size: 20px; /* Adjust logo for very small screens */
    }
    
}


